#Importing the libraries

In [6]:
import pandas as pd
import numpy as np 
import tensorflow as tf
import os

#Reading the files

In [7]:
#train = pd.read_csv('Training and Testing Sets/UNSW_NB15_training-set.csv', sep=',')
#columns_to_keep = ['proto', 'state', 'service', 'attack_cat', 'label']
#train = train.drop([col for col in train.columns if col not in columns_to_keep], axis=1)
#train
train = pd.read_csv('Training and Testing Sets/UNSW_NB15_training-set.csv', na_values=['-', '?'])
train

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,NaN,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,NaN,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,NaN,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,NaN,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,175337,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,13,24,0,0,0,24,24,0,Generic,1
175337,175338,0.505762,tcp,NaN,FIN,10,8,620,354,33.612649,...,1,2,0,0,0,1,1,0,Shellcode,1
175338,175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,3,13,0,0,0,3,12,0,Generic,1
175339,175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,14,30,0,0,0,30,30,0,Generic,1
175340,175341,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,16,30,0,0,0,30,30,0,Generic,1

In [8]:
test = pd.read_csv('Training and Testing Sets/UNSW_NB15_testing-set.csv', na_values=['-', '?'])
test#columns_to_keep = ['proto', 'state', 'service', 'attack_cat', 'label']

#test = test.drop([col for col in test.columns if col not in columns_to_keep], axis=1)
#test

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,NaN,INT,2,0,496,0,90909.090200,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,NaN,INT,2,0,1762,0,125000.000300,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,NaN,INT,2,0,1068,0,200000.005100,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,NaN,INT,2,0,900,0,166666.660800,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,NaN,INT,2,0,2126,0,100000.002500,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,82328,0.000005,udp,NaN,INT,2,0,104,0,200000.005100,...,1,2,0,0,0,2,1,0,Normal,0
82328,82329,1.106101,tcp,NaN,FIN,20,8,18062,354,24.410067,...,1,1,0,0,0,3,2,0,Normal,0
82329,82330,0.000000,arp,NaN,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82330,82331,0.000000,arp,NaN,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82331,82332,0.000009,udp,NaN,INT,2,0,104,0,111111.107200,...,1,1,0,0,0,1,1,0,Normal,0

In [9]:
value_counts = test['attack_cat'].value_counts()
value_counts

attack_cat
Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6061
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Fuzzez    rs          1
Name: count, dtype: int64

In [10]:
value_count = train['proto'].value_counts()
value_count

proto
tcp       79946
udp       63283
unas      12084
arp        2859
ospf       2595
          ...
rdp          98
netblt       98
igmp         18
icmp         15
rtp           1
Name: count, Length: 133, dtype: int64

#Filtering the data

In [11]:
train_columns = []
test_columns = []

for col in train.columns:
  num_unique = len(train[col].unique())
  #print(num_unique)
  if(num_unique < 5):
    train_columns.append(col)

for col in test.columns:
  num_unique = len(test[col].unique())
  #print(num_unique)
  if(num_unique < 5):
    test_columns.append(col)

#Matching columns are the categorical columns
#print(train_columns, test_columns)
categorical_columns = list(set(train_columns).intersection(test_columns))
categorical_columns.remove('label')   #y value  (attack_cat <> label)

categorical_columns

['is_ftp_login', 'is_sm_ips_ports', 'ct_ftp_cmd']

In [12]:
#for identifing the unique in each of the dataset
def filter_unique_categories(train, test, column):
    train_unique = train[column].unique()
    test_unique = test[column].unique()

    common_categories = np.intersect1d(train_unique, test_unique)
    train = train[train[column].isin(common_categories)]
    test = test[test[column].isin(common_categories)]
    return train, test

# applying filter to each catogeriacal column
for column in categorical_columns:
    train, test = filter_unique_categories(train, test, column)

print(train.shape)
print(test.shape)

(175325, 45)
(82332, 45)

#Dropping the empty rows

In [13]:
df_train = train.dropna()
df_test = test.dropna()
print(df_train.shape, df_test.shape)

df_train

(81157, 45) (35179, 45)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
11,12,2.093085,tcp,smtp,FIN,62,28,56329,2212,42.520967,...,1,2,0,0,0,1,1,0,Normal,0
15,16,0.000002,udp,snmp,INT,2,0,138,0,500000.001300,...,1,4,0,0,0,2,1,0,Normal,0
17,18,0.393556,tcp,http,FIN,10,8,860,1096,43.195886,...,1,2,0,0,1,1,3,0,Normal,0
21,22,0.338017,tcp,http,FIN,10,6,998,268,44.376468,...,1,1,0,0,1,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175335,175336,0.000006,udp,dns,INT,2,0,114,0,166666.660800,...,17,45,0,0,0,33,45,0,Generic,1
175336,175337,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,13,24,0,0,0,24,24,0,Generic,1
175338,175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,3,13,0,0,0,3,12,0,Generic,1
175339,175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,14,30,0,0,0,30,30,0,Generic,1
175340,175341,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,16,30,0,0,0,30,30,0,Generic,1

In [14]:
path = './'
filename_read = os.path.join(path,"cleaned_test.csv")
d_test = pd.read_csv(filename_read,na_values=['NA','?'])
d_test['service'] = d_test['service'].replace('-', np.nan)

c_test = d_test.dropna(subset=['service'])
c_test.to_csv(filename_read, index=False)  #saving into the file

c_test.shape

(35179, 45)

#Normalize and encoding

In [15]:
# savepoint - data cleaning/management done
df_train.to_csv('cleaned_train.csv', index=False)
df_test.to_csv('cleaned_test.csv', index=False)

#loading
df_train = pd.read_csv('cleaned_train.csv')
df_test = pd.read_csv('cleaned_test.csv')

In [16]:
from collections.abc import Sequence
from sklearn import preprocessing

#for Classification
def to_xy(df, target):
    # Separate features and target variable
    x = df.drop(columns=[target])  # Drop the target column to get features
    y = pd.get_dummies(df[target])  # one-hot encoding for outputs

    # Convert the resulting arrays to float32
    return x.values.astype(np.float32), y.values.astype(np.float32)

def hms_string(sec_elapsed):
    h = int(sec_elapsed / (60 * 60))
    m = int((sec_elapsed % (60 * 60)) / 60)
    s = sec_elapsed % 60
    return "{}:{:>02}:{:>05.2f}".format(h, m, s)

# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

# Encode text values to indexes(i.e. [1],[2],[3] for red,green,blue).
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_

#encode for numeric values
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd

In [17]:
df_train.drop('id', axis=1, inplace=True)
df_test.drop('id', axis=1, inplace=True)

#set y values to either 'label' or 'attack_cat' (not using)
df_train.drop('attack_cat', axis=1, inplace=True)
df_test.drop('attack_cat', axis=1, inplace=True)

#make other textual columns dummies
for df in [df_train, df_test]:
    encode_text_dummy(df, 'proto')
    encode_text_dummy(df, 'service')
    encode_text_dummy(df, 'state')
    encode_text_dummy(df, 'ct_ftp_cmd')
    encode_text_dummy(df, 'is_ftp_login')
    encode_text_dummy(df, 'is_sm_ips_ports')

#encode y values for both dataframe that we are using
attacks_train = encode_text_index(df_train, "label")
attacks_test = encode_text_index(df_test, "label")

In [18]:
features = [
    'dur',
    'spkts',
    'dpkts',
    'sbytes',
    'dbytes',
    'rate',
    'sttl',
    'dttl',
    'sload',
    'dload',
    'sloss',
    'dloss',
    'sinpkt',
    'dinpkt',
    'sjit',
    'djit',
    'swin',
    'stcpb',
    'dtcpb',
    'dwin',
    'tcprtt',
    'synack',
    'ackdat',
    'smean',
    'dmean',
    'trans_depth',
    'response_body_len',
    'ct_srv_src',
    'ct_state_ttl',
    'ct_dst_ltm',
    'ct_src_dport_ltm',
    'ct_dst_sport_ltm',
    'ct_dst_src_ltm',
    'ct_flw_http_mthd',
    'ct_src_ltm',
    'ct_srv_dst']

for df in [df_train, df_test]:
    for i in features:
        encode_numeric_zscore(df, i)
df_train

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state-INT,state-REQ,state-RST,ct_ftp_cmd-0,ct_ftp_cmd-1,ct_ftp_cmd-2,is_ftp_login-0,is_ftp_login-1,is_ftp_login-2,is_sm_ips_ports-0
0,0.174684,-0.048034,-0.044585,-0.055937,-0.077790,-0.624209,-1.042741,1.555111,-0.610184,-0.216556,...,False,False,False,False,True,False,False,True,False,True
1,0.266078,0.216734,0.076663,0.169657,-0.069504,-0.624041,-1.042741,1.555111,-0.607604,-0.211861,...,False,False,False,True,False,False,True,False,False,True
2,-0.198857,-0.100988,-0.135521,-0.057922,-0.082214,2.286789,0.822448,-0.717376,2.795548,-0.219845,...,True,False,False,True,False,False,True,False,False,True
3,-0.111437,-0.058625,-0.074897,-0.054997,-0.075917,-0.624037,-1.042741,1.555111,-0.610023,-0.200753,...,False,False,False,True,False,False,True,False,False,True
4,-0.123774,-0.058625,-0.090053,-0.054439,-0.080674,-0.624030,0.822448,1.555111,-0.609955,-0.214653,...,False,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81152,-0.198856,-0.100988,-0.135521,-0.058019,-0.082214,0.346071,0.822448,-0.717376,0.327602,-0.219845,...,True,False,False,True,False,False,True,False,False,True
81153,-0.198855,-0.100988,-0.135521,-0.058019,-0.082214,0.022617,0.822448,-0.717376,0.014995,-0.219845,...,True,False,False,True,False,False,True,False,False,True
81154,-0.198855,-0.100988,-0.135521,-0.058019,-0.082214,0.022617,0.822448,-0.717376,0.014995,-0.219845,...,True,False,False,True,False,False,True,False,False,True
81155,-0.198855,-0.100988,-0.135521,-0.058019,-0.082214,0.022617,0.822448,-0.717376,0.014995,-0.219845,...,True,False,False,True,False,False,True,False,False,True
81156,-0.198855,-0.100988,-0.135521,-0.058019,-0.082214,0.022617,0.822448,-0.717376,0.014995,-0.219845,...,True,False,False,True,False,False,True,False,False,True

In [19]:
x_train, y_train = to_xy(df_train, "label")
x_test, y_test = to_xy(df_test, "label")

In [20]:
from sklearn import preprocessing

def encode_text_index(c_test, name):
    le = preprocessing.LabelEncoder()
    c_test[name] = le.fit_transform(c_test[name])
    return le.classes_

#define the cnn

In [21]:
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout


x_train_reshaped = x_train.reshape(x_train.shape[0], x_train.shape[1], 1, 1)
x_test_reshaped = x_test.reshape(x_test.shape[0], x_test.shape[1], 1, 1)

input_shape = (x_train.shape[1], 1, 1)

model = Sequential()

model.add(Conv2D(32, kernel_size = (3,1), strides = (1, 1),
                padding = "valid",  activation = "relu",
                input_shape = input_shape))

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/convolutional/base_conv.py:107: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ conv2d (Conv2D)                 │ (None, 60, 1, 32)      │           128 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 128 (512.00 B)

 Trainable params: 128 (512.00 B)

 Non-trainable params: 0 (0.00 B)

In [23]:
model.add(Conv2D(64, (3, 1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 1), strides=None))
model.add(Dropout(0.25))

In [24]:
model.add(Flatten())
model.add(Dense(64, activation="relu"))
model.add(Dropout(0.25))
model.add(Dense(1, activation="sigmoid"))

In [25]:
from tensorflow.keras.optimizers import Adam

model.compile(loss=tf.keras.losses.categorical_crossentropy, optimizer=Adam(learning_rate=0.001), metrics=['accuracy'])

In [26]:
x_train.shape

(81157, 62)

In [27]:
y_train.shape

(81157, 2)

#train the model

In [28]:
# NOT DONE YET Have to do the early stopping here first and then train
import time

start_time = time.time()

batch_size = 128

model.fit(x_train, y_train,
          batch_size=batch_size,
          epochs=50,
          verbose=2,
          validation_data=(x_test, y_test))

elapsed_time = time.time() - start_time
print("Elapsed time: {}".format(hms_string(elapsed_time)))

Epoch 1/50

ValueError: Exception encountered when calling Sequential.call().

Invalid input shape for input Tensor("data:0", shape=(None, 62), dtype=float32). Expected shape (None, 62, 1, 1), but input has incompatible shape (None, 62)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 62), dtype=float32)
  • training=True
  • mask=None